{% extends "shared/base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title mb-4">List of Candidates</h5>
          <ul class="list-group">
            
              {% for application in applications %}
                {% csrf_token %}
                <li class="list-group-item">
                  <div class="d-flex justify-content-between align-items-center">
                    <div>
                      <h6 class="mb-0">{{ view_candidate_application.firstName }} {{ application.candidate.lastName }}</h6>
                      <p class="text-muted">{{ application.candidate.user.email }}</p>
                    </div>
                    <div>
                      {% if application.status == "Applied" %}
                        <span class="badge bg-warning">{{ application.status }}</span>
                      {% elif application.status == "Viewed" %}
                        <span class="badge bg-info">{{ application.status }}</span>
                      {% elif application.status == "Accepted" %}
                        <span class="badge bg-success">{{ application.status }}</span>
                      {% elif application.status == "Rejected" %}
                        <span class="badge bg-danger">{{ application.status }}</span>
                      {% endif %}
                      <span style="margin-left: 10px;"></span> <!-- Adding space here -->
                      <a href="/employer/view_candidate_application/{{ application.pk }}/" class="btn btn-outline-primary">View Profile</a>
                     
                      </div>
                    </div>
                  </div>
                </li>
                {% if not forloop.last %}
                  <hr>
                {% endif %}
              {% endfor %}
            
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
