{% extends "shared/base.html" %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Application Submitted</h5>
          <p class="card-text">Thank you for applying to the job. Your application has been successfully submitted.</p>
          <a href="/candidates" class="btn btn-primary">Back to Job Listings</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
