

{% extends "shared/base.html" %}

{% block content %}
<div class="container">
  <div class="row mt-4"> <!-- Add top margin to create space -->
    {% for job in job_Instances %}
    <div class="col-md-4">
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title">{{ job.position }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">CSP</h6>
          <p class="card-text">{{ "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."|slice:":250" }}</p> <!-- Limit description to 100 characters -->
          <a href="" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

